<div class="section-faq">
    <div class="row" style="margin-bottom: 10px;">
        <h3 class="big-title-faq">FAQ</h3>
        <h6 class="text-style-faq">Bienvenue dans notre Faq ! Vous trouverez ci-dessous des réponses aux questions
            fréquentes sur Med4
        </h6>
        <h6 class="text-style-faq">
            et nos services de livraison de médicaments.
        </h6>
    </div>

    <div class="row">
        <div class="col-10">
            <div ngbAccordion #accordion="ngbAccordion">
                <div ngbAccordionItem="first" class="border-bottom border-primary">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>Qu'est-ce que Med4 et en quoi consiste son
                            service de livraison de
                            médicaments ?</button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody class="text-style-faq">
                            <ng-template>
                                Med4 est une entreprise spécialisée dans la gestion et la livraison de médicaments aux
                                pharmacies et aux résidences pour personnes âgées. Notre service permet aux pharmacies
                                de gérer efficacement leurs commandes de médicaments et de les livrer de manière fiable
                                et sécurisée.
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div ngbAccordionItem="second" class="border-bottom border-primary">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>Comment fonctionne le processus de commande avec Med4 ?</button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody class="text-style-faq">
                            <ng-template>
                                Med4 est une entreprise spécialisée dans la gestion et la livraison de médicaments aux
                                pharmacies et aux résidences pour personnes âgées. Notre service permet aux pharmacies
                                de gérer efficacement leurs commandes de médicaments et de les livrer de manière fiable
                                et sécurisée.
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div ngbAccordionItem="third" class="border-bottom border-primary">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>Quels sont les avantages de choisir Med4 par rapport à d'autres
                            services de livraison de médicaments ?</button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody class="text-style-faq">
                            <ng-template>
                                Med4 est une entreprise spécialisée dans la gestion et la livraison de médicaments aux
                                pharmacies et aux résidences pour personnes âgées. Notre service permet aux pharmacies
                                de gérer efficacement leurs commandes de médicaments et de les livrer de manière fiable
                                et sécurisée.
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div ngbAccordionItem="four" class="border-bottom border-primary">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>Comment puis-je réserver une démo avec un expert de Med4 ?</button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                Med4 est une entreprise spécialisée dans la gestion et la livraison de médicaments aux
                                pharmacies et aux résidences pour personnes âgées. Notre service permet aux pharmacies
                                de gérer efficacement leurs commandes de médicaments et de les livrer de manière fiable
                                et sécurisée.
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div ngbAccordionItem="five" class="border-bottom border-primary">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>Quels sont les tarifs des forfaits Med4 ?</button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                Med4 est une entreprise spécialisée dans la gestion et la livraison de médicaments aux
                                pharmacies et aux résidences pour personnes âgées. Notre service permet aux pharmacies
                                de gérer efficacement leurs commandes de médicaments et de les livrer de manière fiable
                                et sécurisée.
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div ngbAccordionItem="six" class="border-bottom border-primary">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>Comment Med4 assure-t-il la sécurité des données des pharmacies et
                            des patients ?</button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                Med4 est une entreprise spécialisée dans la gestion et la livraison de médicaments aux
                                pharmacies et aux résidences pour personnes âgées. Notre service permet aux pharmacies
                                de gérer efficacement leurs commandes de médicaments et de les livrer de manière fiable
                                et sécurisée.
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div ngbAccordionItem="seven" class="border-bottom border-primary">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>Quelle est la période d'essai gratuit de Med4 ?</button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                Med4 est une entreprise spécialisée dans la gestion et la livraison de médicaments aux
                                pharmacies et aux résidences pour personnes âgées. Notre service permet aux pharmacies
                                de gérer efficacement leurs commandes de médicaments et de les livrer de manière fiable
                                et sécurisée.
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div ngbAccordionItem="seven" class="border-bottom border-primary">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>Comment puis-je contacter l'équipe de support client de Med4
                            ?</button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                Med4 est une entreprise spécialisée dans la gestion et la livraison de médicaments aux
                                pharmacies et aux résidences pour personnes âgées. Notre service permet aux pharmacies
                                de gérer efficacement leurs commandes de médicaments et de les livrer de manière fiable
                                et sécurisée.
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>