.section-faq {
  
  background-color: #F0FFFF;
  height: 70vh; /* 50% of the viewport height */
  display: flex;
  width: 100%; 
  flex-direction: column;
  justify-content:center; /* Vertically center */
 
  
}

.big-title-faq{
  text-align: center;
  color:#1a3657;
  margin-bottom: 20px;
}

.text-style-faq{
  font-size: small;
  text-align:center; 
  color:#1a3657;
}



.row {
  display: flex;
  justify-content:center; 
}


.accordion {
  
    --bs-accordion-bg:none;
    --bs-accordion-border-color:#285180;
    --bs-accordion-border-width:0px;
    --bs-accordion-border-bottom-width:1px;
    --bs-accordion-btn-icon: url(/assets/icons-plus.png);
    --bs-accordion-btn-active-icon:url(/assets/icons-minus.png);
    
}

