<div class="section-footer">
    <div class="row" style="margin-left: 40px;">
        <div class="col-6">
            <div class="row"> <img src="../assets/logomed4.png" alt="logomed4" class="img-logo"></div>
            <div class="row">
                <h6 class="text-style-footer">MED4 SOLUTIONS s'engage à révolutionner la livraison de </h6>
                <h6 class="text-style-footer">médicaments en offrant des solutions rapides fiables et</h6>
                <h6 class="text-style-footer">sécurisées, centrées sur les besoins des pharmacies et des patients.</h6>
            </div>
            <div class="row">
                <ul style="margin-left: -10px; margin-bottom: 10px;">
                    <li class=" text-style-footer"><img src="/assets/phone.svg" class="custom-img" alt="Icon ok">
                        1 888-MED4
                    </li>
                    <li class="text-style-footer"><img src="/assets/email.svg" class="custom-img" alt="Icon ok">
                        contact@medilink.com
                    </li>
                </ul>

            </div>

            <div class="row">
                <div class="col-3">
                    <div class="row">
                        <div class="col-3"><img src="../assets/facebook.svg" alt="logomed4" class="custom-img-social">
                        </div>
                        <div class="col-3"> <img src="../assets/twitter.svg" alt="logomed4" class="custom-img-social">
                        </div>
                        <div class="col-3"> <img src="../assets/linkedin.svg" alt="logomed4" class="custom-img-social">
                        </div>
                        <div class="col-3"><img src="../assets/youtube.svg" alt="logomed4" class="custom-img-social">
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-6">
            <div class="row big-title-footer">
                <b>Adresse</b>
            </div>







            <div class="row">
                <div class="row">
                    <div class="col-12">
                        <iframe class="image-frame"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2990.274257380938!2d-70.56068388481569!3d41.45496659976631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e52963ac45bbcb%3A0xf05e8d125e82af10!2sDos%20Mas!5e0!3m2!1sen!2sus!4v1671220374408!5m2!1sen!2sus"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
            <div class="row big-title-footer">
                <b>Accés rapide</b>

            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-3">
                            <h6 class="text-style-footer-blue">À Propos De Med4</h6>
                        </div>
                        <div class="col-3">
                            <h6 class="text-style-footer-blue">Nos valeurs</h6>
                        </div>
                        <div class="col-3">
                            <h6 class="text-style-footer-blue">Notre équipes</h6>
                        </div>
                        <div class="col-3">
                            <h6 class="text-style-footer-blue">Blogues</h6>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-3">
                            <h6 class="text-style-footer-blue">Pourquoi Med4</h6>
                        </div>
                        <div class="col-3">
                            <h6 class="text-style-footer-blue">Nos services</h6>
                        </div>
                        <div class="col-3">
                            <h6 class="text-style-footer-blue">Nos tarifs</h6>
                        </div>
                        <div class="col-3">
                            <h6 class="text-style-footer-blue">FAQ</h6>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="copyright">
    <div class="row">
        <span style="text-align: center; color: beige;">© 2024 Med4 Solutions. All Rights Reserved.</span>
    </div>
</div>