<div class="section-blog">
    <div class="row">
        <h3 class="big-title-blog">Blogues</h3>
        <h6 class="text-style-blog">votre source d'informations et de conseils dédiés à l'univers de la pharmacie, des
            résidences pour
        </h6>
        <h6 class="text-style-blog">
            personnes âgées, et du bien-être des patients et professionnels de santé.
        </h6>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-3">
                <div class="custom-card">
                    <img class="card-img-top" src="../assets/blog-1.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="text-muted">Problématiques
                            Pharmaceutiques | Date</p>
                        <h5 class="card-title">Problématiques Communes des Pharmacies et Solutions Innovantes</h5>
                        <p class="card-text">Découvrez les défis auxquels les pharmacies font face aujourd'hui et
                            comment
                            les
                            solutions de Med4 peuvent y remédier.</p>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="custom-card">
                    <img class="card-img-top" src="../assets/blog-2.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="text-muted">Soins aux Personnes Âgées | Date</p>
                        <h5 class="card-title">Gestion des Médicaments dans les Résidences pour Personnes Âgées</h5>
                        <p class="card-text">DConseils pratiques pour améliorer la gestion des médicaments et la
                            qualité
                            de
                            vie dans les résidences pour personnes âgées.</p>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="custom-card">
                    <img class="card-img-top" src="../assets/blog-3.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="text-muted">Innovations Med4 | Date</p>
                        <h5 class="card-title">Les Dernières Innovations de Med4 Solutions</h5>
                        <p class="card-text">Restez informés sur les dernières mises à jour et innovations de nos
                            services
                            pour une meilleure expérience utilisateur.</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-3">
                <div class="custom-card">
                    <img class="card-img-top" src="../assets/blog-2.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="text-muted">Problématiques
                            Pharmaceutiques | Date</p>
                        <h5 class="card-title">Problématiques Communes des Pharmacies et Solutions Innovantes</h5>
                        <p class="card-text">Découvrez les défis auxquels les pharmacies font face aujourd'hui et
                            comment
                            les
                            solutions de Med4 peuvent y remédier.</p>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="custom-card">
                    <img class="card-img-top" src="../assets/blog-5.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="text-muted">Soins aux Personnes Âgées | Date</p>
                        <h5 class="card-title">Gestion des Médicaments dans les Résidences pour Personnes Âgées</h5>
                        <p class="card-text">DConseils pratiques pour améliorer la gestion des médicaments et la
                            qualité
                            de
                            vie dans les résidences pour personnes âgées.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>



</div>