<div class="container section-about">
    <div class="row">
        <div class="col-5">
            <div style="margin: 50px;">
                <h3 class="big-title-about"> À propos de MED4 SOLUTIONS ?</h3>
                <p class="text-style-about">
                    Fondée par des experts en technologie et en santé, MED4
                    SOLUTIONS a émergé
                    comme une réponse innovante aux défis logistiques dans le secteur
                    pharmaceutique.
                </p>
                <p class="text-style-about">
                    MED4 SOLUTIONS s'engage à révolutionner la livraison
                    de médicaments en
                    offrant des solutions rapides, fiables et sécurisées, centrées sur les besoins des
                    pharmacies et des patients.
                    Notre mission est d'innover continuellement pour améliorer la santé et le bien-
                    être de la communauté</p>
            </div>

        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-7">
                    <img class="image-frame" src="../assets/about-1.png" alt="logomed4">
                </div>
                <div class="col-5">
                    <img class="image-frame" src="../assets/about-1.png" alt="logomed4">
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <img class="image-frame" src="../assets/about-1.png" alt="logomed4">
                </div>
            </div>
        </div>

    </div>

</div>
<div class="section-extend"></div>
<div class="section-why">
    <div class="row" style="margin: 10px;">
        <h3 class="big-title-why">Pourquoi MED4 SOLUTIONS ?</h3>
        <h6 class="text-style-why">MED4 SOLUTIONS, plus qu'une entreprise de
            livraison,
            une solution complète
            pour les professionnels de santé.
        </h6>
        <h6 class="text-style-why">
            pour les professionnels de santé.
        </h6>
    </div>

    <div class="row" style="padding: 40px;">
        <div class="col-4">
            <div class="card custom-card">
                <img src="../assets/icon.png" class="top-left-image" alt="Image">
                <div class="card-body text-dark">
                    <h6 class="card-title">Un Services Sur Mesure</h6>
                    <p class="card-text">Nous comprenons les défis uniques auxquels vous faites face. Grâce à notre
                        technologie innovante et à notre expertise, MED4 SOLUTIONS offre des solutions personnalisées et
                        efficaces pour gérer toutes vos livraisons.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card custom-card">
                <img src="../assets/icon.png" class="top-left-image" alt="Image">
                <div class="card-body text-dark">
                    <h6 class="card-title">Un Services Sur Mesure</h6>
                    <p class="card-text">Nous comprenons les défis uniques auxquels vous faites face. Grâce à notre
                        technologie innovante et à notre expertise, MED4 SOLUTIONS offre des solutions personnalisées et
                        efficaces pour gérer toutes vos livraisons.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card custom-card">
                <img src="../assets/icon.png" class="top-left-image" alt="Image">
                <div class="card-body text-dark">
                    <h6 class="card-title">Un Services Sur Mesure</h6>
                    <p class="card-text">Nous comprenons les défis uniques auxquels vous faites face. Grâce à notre
                        technologie innovante et à notre expertise, MED4 SOLUTIONS offre des solutions personnalisées et
                        efficaces pour gérer toutes vos livraisons.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card custom-card">
                <img src="../assets/icon.png" class="top-left-image" alt="Image">
                <div class="card-body text-dark">
                    <h6 class="card-title">Un Services Sur Mesure</h6>
                    <p class="card-text">Nous comprenons les défis uniques auxquels vous faites face. Grâce à notre
                        technologie innovante et à notre expertise, MED4 SOLUTIONS offre des solutions personnalisées et
                        efficaces pour gérer toutes vos livraisons.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card custom-card">
                <img src="../assets/icon.png" class="top-left-image" alt="Image">
                <div class="card-body text-dark">
                    <h6 class="card-title">Un Services Sur Mesure</h6>
                    <p class="card-text">Nous comprenons les défis uniques auxquels vous faites face. Grâce à notre
                        technologie innovante et à notre expertise, MED4 SOLUTIONS offre des solutions personnalisées et
                        efficaces pour gérer toutes vos livraisons.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card custom-card">
                <img src="../assets/icon.png" class="top-left-image" alt="Image">
                <div class="card-body text-dark">
                    <h6 class="card-title">Un Services Sur Mesure</h6>
                    <p class="card-text">Nous comprenons les défis uniques auxquels vous faites face. Grâce à notre
                        technologie innovante et à notre expertise, MED4 SOLUTIONS offre des solutions personnalisées et
                        efficaces pour gérer toutes vos livraisons.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-extend"></div>