.section-about {
  /* Responsive height and width */
  height: 80vh; /* 50% of the viewport height */
  width: 100%; /* 100% of the container's width */
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally center */
  justify-content: center;
 
 
}

.section-why {
  
  background-color: #f1feff;
  height: 80vh; /* 50% of the viewport height */
  display: flex;
  width: 100%; 
  flex-direction: column;
  justify-content:center; /* Vertically center */
  align-items: center;
  
}

.section-extend{
  
  background-color: #f1feff;
  height: 10vh; /* 50% of the viewport height */
  display: flex;
  width: 100%; 
  flex-direction: column;
  justify-content:center; /* Vertically center */
  align-items: center;
  
}



.image-frame {
  position: relative; /* Set container as relative positioning */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Hide overflowing content */
  width: 100%; /* Ensure container takes full width */
  height: 100%; /* Ensure container takes full height */
}

.image-frame img {
  position: absolute; /* Position image absolutely within container */
  top: 0; /* Align image to the top */
  left: 0; /* Align image to the left */
  width: 100%; /* Ensure image covers entire width of container */
  height: 100%; /* Ensure image covers entire height of container */
  object-fit: cover; /* Cover the entire container while maintaining aspect ratio */
}

.section-about p {
  line-height: 1.5; /* Adjust the value as needed */
  text-align: justify;
}


.col-6 {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
  }
  

  
  .col-12 {
    flex: 2; /* Twice the width of .col-4 and .col-8 */
  }
  
  .col-7 img,
  .col-5 img,
  .col-12 img {
    width: 100%;
    height: 200px;
     margin-bottom: 20px;
  }
  
 
  
  .big-title-why{
    text-align: center;
    color:#1a3657;
    margin-bottom: 20px;
  }

  .text-style-why{
    font-size: small;
    text-align:center; 
    color:#1a3657;
  }
  .big-title-about{
    text-align:left; 
    color:#1a3657;
    margin-bottom: 20px;
  
  }
  .text-style-about{
    font-size: small;
    text-align:left; 
    color:#1a3657;
    
  }

  .custom-card {
    border: none; /* Remove default border */
    border-radius: 20px; /* Add rounded corners */
    background-color: #daedfe;
    height:230px;
    width:350px;
    padding:10px;
}

.custom-card .card-body {
    padding: 20px; /* Increase padding for better spacing */
}

.custom-card .card-title {
    color:#1a3657;
    font-size: 14px; /* Increase title font size */
    font-weight: bold; /* Make title bold */
    margin-bottom: 20px; /* Add bottom margin to title */
    text-align:center;
  }

.custom-card .card-text {
  font-size: small;
  text-align:center; 
  color:#1a3657;
}


.top-left-image {
  position: absolute;
  top: -25px; 
  left: 25px;
  border-radius: 50%; 
  height:60px ;
  width:60px ;
  background: linear-gradient(to bottom, rgb(22,105,172,1), rgb(22,105,172,0.8),rgb(87,180,177,0.5));
 padding: 10px;
}



