<div class="container section-about">
    <div class="row">
        <div class="col-6">
            <div style="margin: 40px;">
                <h3 style="text-align:left; color:#3C3C3C"> À propos de MED4 SOLUTIONS ?</h3>
                <p style="font-size: small;left: center;color:#787878">
                    Fondée par des experts en technologie et en santé, MED4
                    SOLUTIONS a émergé
                    comme une réponse innovante aux défis logistiques dans le secteur
                    pharmaceutique.
                </p>
                <p style="font-size: small;text-align: left; color:#787878">
                    MED4 SOLUTIONS s'engage à révolutionner la livraison
                    de médicaments en
                    offrant des solutions rapides, fiables et sécurisées, centrées sur les besoins des
                    pharmacies et des patients.
                    Notre mission est d'innover continuellement pour améliorer la santé et le bien-
                    être de la communauté</p>
            </div>

        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-8">
                    <img class="image-frame" src="../assets/logomed4.png" alt="logomed4">
                </div>
                <div class="col-4">
                    <img class="image-frame" src="../assets/logomed4.png" alt="logomed4">
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <img class="image-frame" src="../assets/logomed4.png" alt="logomed4">
                </div>
            </div>
        </div>

    </div>

</div>

<div class="section-why">
    <div class="row" style="margin: 20px;">
        <h3 style="text-align: center; color:#3C3C3C">Pourquoi MED4 SOLUTIONS ?</h3>
        <h6 style="font-size: small;text-align: center;color:#787878">MED4 SOLUTIONS, plus qu'une entreprise de
            livraison,
            une solution complète
            pour les professionnels de santé.
        </h6>
        <h6 style="font-size: small;text-align: center;color:#787878">
            pour les professionnels de santé.
        </h6>
    </div>

    <div class="row" style="margin: 10px;">
        <div class="col-4">
            <div class="card border-dark mb-3" style="max-width: 23rem;height: 13rem; ">
                <div class="card-body text-dark" style="margin: 15px;">
                    <h6 class="card-title">Un Services Sur Mesure</h6>
                    <p style="font-size:13px;text-align:left;color:#787878">
                        Nous comprenons les défis uniques auxquelsvous faites face.
                        Grâce à notre technologie innovante et à notre
                        expertise, MED4 SOLUTIONS offre des solutions
                        MED4 SOLUTIONS offre des solutions personnalisées et efficaces pour gérer toutes vos
                        pour gérer toutes vos livraisons.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-dark mb-3" style="max-width: 23rem;height: 13rem; ">
                <div class="card-body text-dark" style="margin: 15px;">
                    <h6 class="card-title">Un Univers Visuel et Intuitif</h6>
                    <p style="font-size:13px;text-align:left;color:#787878">
                        Notre site reflète notre engagement envers l'excellence dans le domaine de la santé
                        Conçu pour les professionnels et les patients, il offre une expérience utilisateur
                        enrichissante, informative, et accessible à tous
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-dark mb-3" style="max-width: 23rem;height: 13rem; ">
                <div class="card-body text-dark" style="margin: 15px;">
                    <h6 class="card-title">Une Livraison Cruciale</h6>
                    <p style="font-size:13px;text-align:left;color:#787878">
                        Avec MED4 SOLUTIONS, chaque livraison est cruciale.
                        Rejoignez-nous dans notre mission pour améliorer la santé grâce à une logistique
                        intelligente et centrée sur l'humain.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="row" style="margin: 10px;">
        <div class="col-4">
            <div class="card border-dark mb-3" style="max-width: 23rem;height: 13rem; ">
                <div class="card-body text-dark" style="margin: 15px;">
                    <h6 class="card-title">Un Services Sur Mesure</h6>
                    <p style="font-size:13px;text-align:left;color:#787878">
                        Nous comprenons les défis uniques auxquelsvous faites face.
                        Grâce à notre technologie innovante et à notre
                        expertise, MED4 SOLUTIONS offre des solutions
                        MED4 SOLUTIONS offre des solutions personnalisées et efficaces pour gérer toutes vos
                        pour gérer toutes vos livraisons.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-dark mb-3" style="max-width: 23rem;height: 13rem; ">
                <div class="card-body text-dark" style="margin: 15px;">
                    <h6 class="card-title">Un Univers Visuel et Intuitif</h6>
                    <p style="font-size:13px;text-align:left;color:#787878">
                        Notre site reflète notre engagement envers l'excellence dans le domaine de la santé
                        Conçu pour les professionnels et les patients, il offre une expérience utilisateur
                        enrichissante, informative, et accessible à tous
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-dark mb-3" style="max-width: 23rem;height: 13rem; ">
                <div class="card-body text-dark" style="margin: 15px;">
                    <h6 class="card-title">Une Livraison Cruciale</h6>
                    <p style="font-size:13px;text-align:left;color:#787878">
                        Avec MED4 SOLUTIONS, chaque livraison est cruciale.
                        Rejoignez-nous dans notre mission pour améliorer la santé grâce à une logistique
                        intelligente et centrée sur l'humain.
                    </p>
                </div>
            </div>
        </div>

    </div>

</div>