<div class="container section-about">
    <div class="row">
        <div class="col-6">
            <div style="margin: 40px;">
                <h3 style="text-align:left; color:#3C3C3C"> À propos de MED4 SOLUTIONS ?</h3>
                <p style="font-size: small;left: center;color:#787878">
                    Fondée par des experts en technologie et en santé, MED4
                    SOLUTIONS a émergé
                    comme une réponse innovante aux défis logistiques dans le secteur
                    pharmaceutique.
                </p>
                <p style="font-size: small;text-align: left; color:#787878">
                    MED4 SOLUTIONS s'engage à révolutionner la livraison
                    de médicaments en
                    offrant des solutions rapides, fiables et sécurisées, centrées sur les besoins des
                    pharmacies et des patients.
                    Notre mission est d'innover continuellement pour améliorer la santé et le bien-
                    être de la communauté</p>
            </div>

        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-8">
                    <img class="image-frame" src="../assets/logomed4.png" alt="logomed4">
                </div>
                <div class="col-4">
                    <img class="image-frame" src="../assets/logomed4.png" alt="logomed4">
                </div>
            </div>

            <div class="row">
                <div class="col-12 image-frame">
                    <img src="../assets/logomed4.png" alt="logomed4">
                </div>
            </div>
        </div>

    </div>

</div>