<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <a class="logo d-flex align-items-center me-auto me-lg-0" routerLink="">

            <img src="../assets/logomed4.png" alt="logomed4">

        </a>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="/restaurants">À propos</a></li>
                <li><a routerLink="/contact">Valeurs</a></li>
                <li><a routerLink="/menu">Services</a></li>
                <li><a routerLink="/contact">Tarifs</a></li>
                <li><a routerLink="/contact">Blogues</a></li>
                <li><a routerLink="/contact">FAQ</a></li>
            </ul>
        </nav>
        <div class="d-flex mt-4 mt-lg-0 ms-lg-auto ms-xl-0 ">
            <a href="#" class="btn btn-dark" role="button" data-bs-toggle="button">Demander un demo</a>

        </div>

    </div>
</header>