<div class="section-contact ">
    <div class="row">
        <div class="col-8">
            <h1 class="big-title-contact"> Nos Valeurs</h1>
            <p class="text-style-contact">
                Innovation Intégrité,et engagement envers la qualité sont au coeur de tout ce que nous faisons <br>
                cHez MediLink , .....
            </p>
            <p class="text-style-contact">
                Innovation Intégrité,et engagement envers la qualité sont au coeur de tout ce que nous faisons <br>
                cHez MediLink , .....</p>
            <div class="col-12">
                <a href="#" class="btn btn-dark" role="button" data-bs-toggle="button">contactez-nous</a>
            </div>
        </div>

    </div>

</div>

<button (click)="openModal()">Contact</button>

<app-contact-modale></app-contact-modale>