<div class="section-band ">
    <div class="row" style="margin-bottom: 40px;">
        <div class="col-12">

            <h6 class="text-style-img-band">
                Planifiez une démonstration personnalisée avec un expert de Med4
            </h6>
            <h6 class="text-style-img-band">
                pour découvrir comment nos services peuvent répondre à vos besoins spécifiques.
            </h6>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="#" class="btn btn-dark" role="button" data-bs-toggle="button">Demander un demo</a>
        </div>

    </div>

</div>