<div class="section-value ">
    <div class="row">
        <div class="col-8">
            <h1 class="big-title-value"> Nos Valeurs</h1>
            <p class="text-style-value">
                Innovation Intégrité,et engagement envers la qualité sont au coeur de tout ce que nous faisons <br>
                cHez MediLink , .....
            </p>
            <p class="text-style-value">
                Innovation Intégrité,et engagement envers la qualité sont au coeur de tout ce que nous faisons <br>
                cHez MediLink , .....</p>
            <div class="col-12">
                <a href="#" class="btn btn-dark" role="button" data-bs-toggle="button">Demander un demo</a>
            </div>
        </div>

    </div>

</div>