<div class="section-pricing">
    <div class="row" style="padding: 40px;">
        <h3 class="big-title-pricing">Nos Forfaits</h3>
        <h6 class="text-style-pricing">Chez MED4 SOLUTIONS, nous proposons deux forfaits principaux, Standard et
            Premium, chacun offrant </h6>
        <h6 class="text-style-pricing">ensemble d'avantages adaptés à vos besoins de livraison. Voici un comparatif
            détaillé de ce</h6>
        <h6 class="text-style-pricing"> que chaque forfait inclut :</h6>
    </div>

    <div class="row">

        <div class="col-6" style="opacity: 0.9;">
            <div class="card custom-card" style="background-color: #fbfcfd;">
                <div class="card-body text-dark">
                    <h3 class="card-title">Standard</h3>
                    <ul class="card-text" style="font-size: small;margin-bottom: 80px;">
                        <li> • Idéal pour les pharmacies avec des besoins de livraison modérés.</li>
                        <li> • Offre un équilibre entre coût et efficacité.</li>
                    </ul>
                    <div class="row " style="margin: 40px;">

                        <a href="#" class="btn btn-dark" role="button" data-bs-toggle="button">Get started</a>

                    </div>

                    <h6 class="card-title" style="margin: 10px;">Services et Avantages</h6>
                    <ul class="card-text">
                        <li><img src="/assets/crossicon.svg" class="custom-img" alt="Icon ok"> Accès à l'application
                            Med4</li>
                        <li><img src="/assets/crossicon.svg" class="custom-img" alt="Icon ok"> iPad gratuite</li>
                        <li><img src="/assets/crossicon.svg" class="custom-img" alt="Icon ok"> Décaissement à la
                            collecte</li>
                        <li><img src="/assets/crossicon.svg" class="custom-img" alt="Icon ok"> Nombre de Livraison par
                            jour : 2 fois / jour
                        </li>
                        <li><img src="/assets/crossicon.svg" class="custom-img" alt="Icon ok"> Dépassement de nombre de
                            colis par mois : 5
                            colis gratuits</li>
                        <li><img src="/assets/okicon.svg" class="custom-img" alt="Icon ok"> Livraison prioritaire</li>
                        <li><img src="/assets/okicon.svg" class="custom-img" alt="Icon ok"> Suivi de colis pour le
                            patient</li>
                        <li><img src="/assets/okicon.svg" class="custom-img" alt="Icon ok"> Essai gratuit</li>
                    </ul>

                </div>
            </div>
        </div>



        <div class="col-6" style="opacity: 0.8;">
            <div class="card custom-card" style="background-color: #fbfcfd;">
                <div class="card-body text-dark">
                    <h3 class="card-title">Premium</h3>

                    <ul class="card-text" style="font-size: small;">
                        <li> • Parfait pour les pharmacies à haut volume de livraison.</li>
                        <li> • Inclut des services supplémentaires comme la livraison prioritaire et le suivi de colis
                            pour le patient.</li>
                    </ul>
                    <div class="row " style="margin: 40px;">

                        <a href="#" class="btn btn-outline-dark" role="button" data-bs-toggle="button">Get started</a>

                    </div>

                    <h6 class="card-title" style="margin: 10px;">Services et Avantages</h6>
                    <ul class="card-text">
                        <li><img src="/assets/crossicon.svg" class="custom-img" alt="Icon ok"> Accès à l'application
                            Med4</li>
                        <li><img src="/assets/crossicon.svg" class="custom-img" alt="Icon ok"> iPad gratuite</li>
                        <li><img src="/assets/crossicon.svg" class="custom-img" alt="Icon ok"> Décaissement à la
                            collecte</li>
                        <li><img src="/assets/crossicon.svg" class="custom-img" alt="Icon ok">Nombre de Livraison par
                            jour : Illimité*
                        </li>
                        <li><img src="/assets/crossicon.svg" class="custom-img" alt="Icon ok"> Dépassement de nombre de
                            colis par mois : 5
                            colis gratuits</li>
                        <li><img src="/assets/crossicon.svg" class="custom-img" alt="Icon ok"> Livraison prioritaire
                        </li>
                        <li><img src="/assets/crossicon.svg" class="custom-img" alt="Icon ok"> Suivi de colis pour le
                            patient</li>
                        <li><img src="/assets/crossicon.svg" class="custom-img" alt="Icon ok"> Essai gratuit</li>
                    </ul>

                </div>
            </div>
        </div>

    </div>


</div>