<div class="section-partners" style>
    <div class="partner-item">
        <div class="image-container">
            <img src="/assets/no-image.jpg" alt="Your Image">
        </div>
        <h6 style="font-size: small;text-align: center; color:#787878">Partner1</h6>
    </div>
    <div class="partner-item">
        <div class="image-container">
            <img src="/assets/no-image.jpg" alt="Your Image">
        </div>
        <h6 style="font-size: small;text-align: center; color:#787878">Partner1</h6>
    </div>

    <div class="partner-item">
        <div class="image-container">
            <img src="/assets/no-image.jpg" alt="Your Image">
        </div>
        <h6 style="font-size: small;text-align: center; color:#787878">Partner1</h6>
    </div>

    <div class="partner-item">
        <div class="image-container">
            <img src="/assets/no-image.jpg" alt="Your Image">
        </div>
        <h6 style="font-size: small;text-align: center; color:#787878">Partner1</h6>
    </div>

    <div class="partner-item">
        <div class="image-container">
            <img src="/assets/no-image.jpg" alt="Your Image">
        </div>
        <h6 style="font-size: small;text-align: center; color:#787878">Partner1</h6>
    </div>
    <div class="partner-item">
        <div class="image-container">
            <img src="/assets/no-image.jpg" alt="Your Image">
        </div>
        <h6 style="font-size: small;text-align: center; color:#787878">Partner1</h6>
    </div>