<div class="section-services">
    <div class="row" style="margin: 20px;">
        <h3 class="big-title-services">Nos Services</h3>
        <h6 class="text-style-services">MED4 SOLUTIONS, plus qu'une entreprise de livraison, une solution complète pour
            les
            professionnels de santé.</h6>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card custom-card" style="background-color: #1061AC;">
                <div class="card-body text-dark">
                    <h6 class="card-title">Livraison de Médicaments sur Mesure</h6>
                    <p class="card-text">Notre service de livraison de médicaments est conçu pour répondre aux besoins
                        spécifiques des pharmacies et des patients, garantissant rapidité et fiabilité.</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card custom-card" style="background-color: #57B6B1;">
                <div class="card-body text-dark">
                    <h6 class="card-title">Support Client Dédié</h6>
                    <p class="card-text">Notre équipe est disponible 24/7 pour offrir assistance et conseils, assurant
                        un service ininterrompu et une satisfaction optimale.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card custom-card">
                <div class="card-body text-dark">
                    <h6 class="card-title">Technologie Simplifiée pour les Pharmacies</h6>
                    <p class="card-text">MED4 SOLUTIONS fournit une tablette gratuite équipée de notre application à
                        chaque pharmacien. Cette approche garantit une utilisation facile et une intégration
                        transparente dans votre quotidien sans nécessiter d'intégration complexe avec vos systèmes
                        existants.</p>
                </div>
            </div>
        </div>

    </div>

</div>