<div class="section-team">
    <div class="row" style="margin: 10px;">
        <h3 class="big-title-team">Notre Équipe</h3>
        <h6 class="text-style-team">Nous sommes fiers de notre équipe de professionnels dévoués, comprenant des experts
        </h6>
        <h6 class="text-style-team">
            en technologie, des pharmaciens, et des logisticiens, tous unis par la passion d'améliorer les soins de
            santé.
        </h6>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-4"><img src="../assets/team-1.png" alt="logomed4" class="custom-img-social">
                </div>
                <div class="col-4"> <img src="../assets/team-2.png" alt="logomed4" class="custom-img-social">
                </div>
                <div class="col-4"> <img src="../assets/team-3.png" alt="logomed4" class="custom-img-social">
                </div>
            </div>
        </div>


    </div>

</div>